
/LinkedList/nbproject/private
/LinkedList/build
/LinkedList/build/classes
*.class
*.class
/LinkedList/build/classes
*.class
LinkedList/build/classes/app/App.class
Herrera_Alejandro_6902510014_Hernandez_Aaron_6902510046_Primera_Juan_6902510051_Taller_5.zip
LinkedList/nbproject/private/private.xml
LinkedList/build/classes/models/Bloque.class
LinkedList/build/classes/models/Blockchain.class
LinkedList/build/classes/models/Bloque.class
